In [1]:
import pandas as pd 
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [2]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/unesco_school'
engine = create_engine(connection_string)

In [3]:
#load csv
data_clean = pd.read_csv('cleaned_UNESCO_school_closures_database.csv')

In [6]:
tableName   = 'data_clean' # name of your final dataframe
dataFrame   = pd.DataFrame(data = data_clean)
dbConnection    = engine.connect()
try:
    frame           = dataFrame.to_sql(tableName, dbConnection, if_exists='fail'); 
except ValueError as vx:
    print(vx)
except Exception as ex:
    print(ex)
else:
    print("Table %s created successfully."%tableName);
finally:
    dbConnection.close()

Table data_clean created successfully.

In [7]:
data = pd.read_sql_query('SELECT * FROM data_clean', engine)
data

,index,date,country_id,country,region_1,region_2,region_3,status,partially_open_type,enrolment,teachers,school_age_population,distance_tv,distance_radio,distance_online,distance_global,weeks_partially_open,weeks_fully_closed
0,0,2020-02-16,ABW,Aruba,LatinAmerica_Caribbean,Latin America and the Caribbean,High income,Fully open,None,21004.0,1211.076660,16731.0,No,No,Yes,Online,8.0,5.0
1,1,2020-02-17,ABW,Aruba,LatinAmerica_Caribbean,Latin America and the Caribbean,High income,Fully open,None,21004.0,1211.076660,16731.0,No,No,Yes,Online,8.0,5.0
2,2,2020-02-18,ABW,Aruba,LatinAmerica_Caribbean,Latin America and the Caribbean,High income,Fully open,None,21004.0,1211.076660,16731.0,No,No,Yes,Online,8.0,5.0
3,3,2020-02-19,ABW,Aruba,LatinAmerica_Caribbean,Latin America and the Caribbean,High income,Fully open,None,21004.0,1211.076660,16731.0,No,No,Yes,Online,8.0,5.0
4,4,2020-02-20,ABW,Aruba,LatinAmerica_Caribbean,Latin America and the Caribbean,High income,Fully open,None,21004.0,1211.076660,16731.0,No,No,Yes,Online,8.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136995,136995,2021-12-27,ZWE,Zimbabwe,Asia,Africa (Sub-Saharan),Lower middle income,Academic break,None,3994773.0,124750.203125,5912714.0,No,Yes,Yes,Online + Radio,34.0,10.0
136996,136996,2021-12-28,ZWE,Zimbabwe,Asia,Africa (Sub-Saharan),Lower middle income,Academic break,None,3994773.0,124750.203125,5912714.0,No,Yes,Yes,Online + Radio,34.0,10.0
136997,136997,2021-12-29,ZWE,Zimbabwe,Asia,Africa (Sub-Saharan),Lower middle income,Academic break,None,3994773.0,124750.203125,5912714.0,No,Yes,Yes,Online + Radio,34.0,10.0
136998,136998,2021-12-30,ZWE,Zimbabwe,Asia,Africa (Sub-Saharan),Lower middle income,Academic break,None,3994773.0,124750.203125,5912714.0,No,Yes,Yes,Online + Radio,34.0,10.0
136999,136999,2021-12-31,ZWE,Zimbabwe,Asia,Africa (Sub-Saharan),Lower middle income,Academic break,None,3994773.0,124750.203125,5912714.0,No,Yes,Yes,Online + Radio,34.0,10.0